#pets{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    row-gap: 1rem;
}

.pet{
    background-color: #dedede;
    border: 1px solid #b8b8b8;
    padding:10px;
}

.container{
    background-color:burlywood
}

.img-frame{
    height: 32px;
    margin-right: 30px;
}
.img-frame2{
    height: 32px;
}